{{define "cp_selectserver"}}

{{template "cp_head" .}}
<header class="page-header"><h2>Informacje oraz aktualizacje</h2></header>
<div class="row">
    <div class="col-lg-7">

        {{if .JoinedGuild}}
        <section class="card card-featured card-featured-success mb-4">
            <header class="card-header">
                <h2 class="card-title">Bot dodany do <b>{{.JoinedGuild.Name}}!</b></h2>
            </header>
            <div class="card-body">
                <p>Zarzadzaj botem poprzez panel sterowania, wybierajac swoj serwer. Jezeli masz z tym problem spytaj  administratora na serwerze.</p>
                <p>Zapraszsamy na nasz serwer Discord-  discord.gg/EVtjDdh</p>
                {{if .User}}
                <a class="btn btn-primary" href="/manage/{{.JoinedGuild.ID}}/home">Kliknij tu aby nia zarzadzac</a><br/>
                {{else}}
                <a class="btn btn-primary" href="/login?goto={{urlquery "/manage/" .JoinedGuild.ID "/home" }}">Kliknij tu aby sie zalogowac i nia zarzadzac</a>
                {{end}}
                <br/>
                <p>nic tu nie ma</p>
            </div>
        </section>
        {{end}}

        {{if .Posts}}
        {{range .Posts}}
        <secton class="card">
            <header class="card-header">
                <h2 class="card-title float-left"><img class="avatar mr-2" src="{{.Message.Author.AvatarURL "256"}}"></img>{{.Message.Author.Username}}</h2>
                <span class="float-right">{{humanizeTimeSinceDays .ParsedTimestamp}} ago ({{.ParsedTimestamp.Format "02 Jan 06 15:04"}})</span>
            </header>
            <div class="card-body">
                {{.RenderedBody}}
            </div>
        </secton>
        {{end}}

        <p>
        {{if .CurrentPostsOffset}}
        <a class="btn btn-default" href="/manage?offset={{.PreviousPostsOffset}}">Nowe Posty</a>
        {{end}}
        {{if .NextPostsOffset}}
        <a class="btn btn-default" href="/manage?offset={{.NextPostsOffset}}">Starsze Posty</a>
        {{end}}
        {{end}}
        </p>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-5">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Information</h2>
            </header>
            <div class="card-body">
                <p>Aby dodac tego btoa do swojego serwera, kliknij przycisk dodaj bota u gory.</p>
                <p>Upewnij sie ze posiadasz odpowiednie permisje do zarzadzania aby w pelni korzystac z panelu.</p>
                <p>Korzystamy z wersji open-source bota.</p>
                <p>Zapraszamy na nasz serwer <a href="https://discord.gg/EVtjDdh">ROBUXIANIE!</a>.</p>
            </div>
        </section>
        {{if .patreonActive}}
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Thanks to my patrons!</h2>
            </header>
            <div class="card-body">
                {{range .activePatrons}}
                <img class="avatar" src="{{.Avatar}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{.Name}}"></img>
                {{end}}
                <br>
                <p>Patreon tiers above 3$ will grant you premium slots you can assign to servers, see <a href="/premium">the premium page</a> for more info.</p>
            </div>
        </section>
        {{end}}
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Inne....</h2>
            </header>
            <div class="card-body">
                <p>Hostujemy bota z open-source githuba pod tym linkiem. <a href="https://github.com/jonas747/yagpdb">link do githuba</a>.</p>
                <p><a href="https://tipply.pl/u/qrxx target="_blank">dawaj pieniazki</p>
                <p>Nie wiem co tu dac <a href="https://docs.yagpdb.xyz/donating#advertisement" target="_blank">Click here for more info</a>.</p>
                <p>Nasz serwer <a href="https://discord.gg/EVtjDdh">Discord</a>?</p>
            </div>
        </section>
    </div>
</div>
<!-- /.row -->

{{template "cp_footer" .}}

{{end}}
